@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

.home-button {
    min-width: 190px;
    min-height: 15px;
    font-family: 'Cantarell', sans-serif;
    cursor: pointer;
  }